<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mszlu.blog.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.mszlu.blog.pojo.Article">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="commentCounts" column="comment_counts" jdbcType="INTEGER"/>
            <result property="createDate" column="create_date" jdbcType="BIGINT"/>
            <result property="summary" column="summary" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="viewCounts" column="view_counts" jdbcType="INTEGER"/>
            <result property="weight" column="weight" jdbcType="INTEGER"/>
            <result property="authorId" column="author_id" jdbcType="BIGINT"/>
            <result property="bodyId" column="body_id" jdbcType="BIGINT"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,comment_counts,create_date,
        summary,title,view_counts,
        weight,author_id,body_id,
        category_id
    </sql>

<!--    List<Archives> listArchives();-->
    <select id="listArchives" resultType="com.mszlu.blog.dos.Archives">
        SELECT year(FROM_UNIXTIME(create_date / 1000, '%Y-%m-%d %h:%i:%s'))  as year,
               month(FROM_UNIXTIME(create_date / 1000, '%Y-%m-%d %h:%i:%s')) as month,
               count(*)                                                      as count
        FROM ms_article
        group by year, month;
    </select>
    <!--
    IPage<Article> listArticle(Page<Article> page,
                               Long categoryId,
                               Long tagId,
                               String year,
                               String month);
    -->
    <select id="listArticle" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM ms_article
        <where>
            1 = 1
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="tagId != null">
                and id in (select article_id from ms_article_tag where tag_id = #{tagId})
            </if>
            <if test="year != null and year.length > 0 and month != null and month.length > 0">
                and (FROM_UNIXTIME(create_date / 1000, '%Y'))  = #{year}
                and (FROM_UNIXTIME(create_date / 1000, '%m')) = #{month}
            </if>
        </where>
        ORDER BY weight desc
    </select>
</mapper>
